/ssz-api/target/
/ssz-api/ssz-api.iml
/ssz-dependencies/ssz-dependencies.iml
/ssz-dependencies/ssz-mul/ssz-mul.iml
/ssz-dependencies/ssz-common/target
/ssz-dependencies/ssz-common/ssz-common.iml
/ssz-dependencies/ssz-model/target
/ssz-dependencies/ssz-parent/ssz-parent.iml
/ssz-service-product/target
/ssz-service-user/target
/logs
/LOG_PATH_IS_UNDEFINED
.idea